
@{
    ViewBag.Title = "Index";
}

<h2>Categeory List</h2>

@Html.DropDownList("Options", ViewData["Options"] as SelectList, "--Select Item--")


<div class="col-lg-12">
    @using (Html.BeginForm("Drop", "Home", FormMethod.Post, new { @encrypt = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <br />
        <input type="submit" value="save" />
    }
</div>
<script>
    function ShowMessage() {
        var result = confirm("Enrolled SUccessfully");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
@*Change your actionname and controller here*@
@using (Html.BeginForm("Drop", "Categry"))
{
    <input style="background-color:green; border-color:white; color:black" type="submit" value="Enroll" class="btn btn-success" name="submitButton" onclick="javascript:return ShowMessage();" />

}